@model IEnumerable<TodosApp.Models.Todo>

@{
    ViewData["Title"] = "Todo list";
}

<h1>Todo list</h1>

<p>
    <a asp-action="Create">Create New Todo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                Teammate Name
            </th>
            <th>Action links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <form asp-action="ToggleIsCompleted">
                        <input hidden="hidden" name="Id" value="@item.Id" />
                        <input 
                            type="checkbox" 
                            name="IsCompleted" 
                            class="form-check-input" 
                            onchange="this.form.submit()" 
                            @(item.IsCompleted ? "checked" : "")
                            />
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teammate.Name)
                </td>
                <td>
                    <form asp-action="DeleteTodo" method="delete">
                        <input hidden="hidden" name="Id" value="@item.Id" />
                        <input type="submit" name="Id" class="btn-danger" value="X" />
                    </form>
                    @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>
